* {/
    border: solid 1px red;
}
html {

font-family: 'Bree Serif', serif;
scroll-behavior: smooth;
}
.heroWrapper {
    background-image: linear-gradient(rgba(71, 117, 156, 0.5), rgba(3, 9, 27, 0.5)),  url(./buildings-1867775__340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex
    margin: auto;
    width: 100px
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    height: 200px;
   
        
}
.mainTitle {
    font-weight: 900;
    
}

.center {
    text-align: center; 
}

.subTitle {
    font-weight: 700;
}
.details {
    font-weight: 600;
}
.me {
    font-weight: 300;
}
.edu {
    font-weight: 700;
}

.navList {
    list-style: none;
    margin-top: 0;
}

.navItem a {
    text-decoration: none;
}

p {padding-bottom: 20px; top: 20px;}

.contactBtn {
    border: solid 2px gray;
    border-radius: 5px;

} 

.standard {
    border: 2px solid black;
}
.mainTitle {  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logo {
    margin-left: 5px;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10px;   
}
.contactsWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 5 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
    .div5 { grid-area: 4 / 2 / 5 / 3; }